@import "tailwindcss";

.chewy-regular {
    font-family: "Chewy", system-ui;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
}

.stroke-black {
    -webkit-text-stroke: 1px black; /* Black outline */
}
